@page
@model Shop.UI.Admin.IndexModel
@{
}


<div id="app">
    <input type="number" v-model = "price"/>
    <p>
        {{price}}
    </p>
</div>


@section scripts{

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="~/js/admin/main.js"></script>
}
